doctype html
html(lang="en")
  head
    title Modern Javascript
    link(rel='stylesheet', href='css/bootstrap/united/bootstrap.css')
    link(rel='stylesheet', href='css/font-awesome/css/font-awesome.css')
    link(rel='stylehseet', href='css/styles.css')
    script(src='js/script.js')
  body
    block content
