@import "../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../../node_modules/bourbon-neat/app/assets/stylesheets/_neat.scss";

// these breakpoints are mimicked via Bootstrap's defaults
$grid-columns: 8 !default;

$tablet: new-breakpoint(min-width 768px 10);
$desktop: new-breakpoint(min-width 992px 12);

.post {
  @include media($tablet) {
    width: 75%;
  }
  @include media($desktop) {
    width: 60%;
  }
  margin: auto;
}
